* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.input-value {
  padding: 10px 15px;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-value:focus {
  border-color: #3498db;
}

.qr-code-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.qr-code-wrapper p {
  font-size: 18px;
  color: red;
}

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background-color: #2980b9;
}
